<h1>New Recipe:</h1>
<br>
<br>
<form action="/recipes" method="POST">
  <b><label for="name">Name<span style="color:red">*</span>: </label></b>
  <input type="text" name="name" id="name"></input>
  <br>
  <br>
  <b><label for="description">Description: </label></b><br>
  <textarea style="white-space: pre-wrap;" rows="5" cols="100" maxlength="500" name="description" id="description"></textarea>
  <br>
  <br>
  <b><label for="serving_size">Serving Size: </label></b>
  <input type="text" name="serving_size" id="serving_size"></input> servings
  <br>
  <br>
  <b><label for="prep_time">Prep Time: </label></b>
  <input type="text" name="prep_time" id="prep_time"></input> minutes
  <br>
  <br>
  <b><label for="cook_time">Cook Time: </label></b>
  <input type="text" name="cook_time" id="cook_time"></input> minutes
  <br>
  <br>
  <b><label for="ingredients">Ingredients<span style="color:red">*</span>: </label></b><br>
  <textarea style="white-space: pre-wrap;" rows="20" cols="100" name="ingredients" id="ingredients"></textarea>
  <br>
  <br>
  <b><label for="instructions">Instructions<span style="color:red">*</span>: </label></b><br>
  <textarea style="white-space: pre-wrap;" rows="25" cols="100" name="instructions" id="instructions"></textarea>
  <br>
  <input class="button submit" type="submit" id="submit" value="Submit">
</form>
<br>
<% if flash.has?(:message) %>
    <p style="color:red"><%= flash[:message] %></p>
<% end %>
<p><span style="color:red">*</span>Required fields.</p>
