<h1>New Recipe:</h1>
<form action="/recipes" method="POST">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name"></input>
  <br>
  <label for="description">Description: </label>
  <textarea rows="4" cols="50" maxlength="500" name="description" id="description"></textarea>
  <br>
  <label for="serving_size">Serving Size: </label>
  <input type="text" name="serving_size" id="serving_size"></input>
  <br>
  <label for="prep_time">Prep Time: </label>
  <input type="text" name="prep_time" id="prep_time"></input> minutes
  <br>
  <label for="cook_time">Cook Time: </label>
  <input type="text" name="cook_time" id="cook_time"></input> minutes
  <br>
  <label for="ingredients">Ingredients: </label>
  <textarea rows="15" cols="50" name="ingredients" id="ingredients"></textarea>
  <br>
  <label for="instructions">Instructions: </label>
  <textarea rows="20" cols="50" name="instructions" id="instructions"></textarea>
  <br>
  <input type="submit" id="submit" value="Submit">
</form>
