<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to The Recipe File!</h2>

    <div class="content">
      <p>The Recipe File allows you to organize and share your own favorite recipes, as well as discover new recipes from other users. Get started by using the sign up link to the right.</p>
    </div>

    <div class="sidebar">
      <h3><a class="button" href="/signup">Sign Up</a></h3>
      <p>Already have an account? <a class="button" href="/login">Log In</a></p>
    </div>

  </div>
</div>
